{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=MediaWiki ({{ mediawiki_identifier }})
{% for service in mediawiki_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in mediawiki_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ mediawiki_container_cleanup_command | trim | replace("\n", " ") }}'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ mediawiki_identifier }} \
      --log-driver=none \
      --user={{ mediawiki_uid }}:{{ mediawiki_gid }} \
      --cap-drop=ALL \
      --network={{ mediawiki_container_network }} \
      {% if mediawiki_container_http_host_bind_port %}
      -p {{ mediawiki_container_http_host_bind_port }}:{{ mediawiki_container_http_port }} \
      {% endif %}
      --env-file={{ mediawiki_base_path }}/env \
      --label-file={{ mediawiki_base_path }}/labels \
      --mount type=bind,src={{ mediawiki_config_path }}/,dst=/var/www/html/config \
      --mount type=bind,src={{ mediawiki_database_path }},dst=/var/www/data \
      --mount type=bind,src={{ mediawiki_images_path }},dst=/var/www/html/images \
      --mount type=bind,src={{ mediawiki_sites_path }},dst=/var/www/html/sites \
      {% for volume in mediawiki_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in mediawiki_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ mediawiki_container_image_self_build_name if mediawiki_container_image_self_build else mediawiki_container_image }}

{% for network in mediawiki_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ mediawiki_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ mediawiki_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ mediawiki_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mediawiki_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ mediawiki_identifier }}

[Install]
WantedBy=multi-user.target
